.line-panel-header1 {
  border-bottom: 1px solid #41ABCA;
  //margin-left: 10px;
  padding-top: 12px;
}

.text-teatle {
  width: 465px;
  padding-left: 1rem;
  ;
}

.mat-column-check {
  flex: 0 0 56px !important;
  width: 56px !important;
}


.textResult {
  color: #666;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  min-width: 150px;
  text-align: start;
  padding-left: 7px;
}

.textNegritas {
  color: #222;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btns {
  margin-top: 42px;
}

.mat-column-cveFolioMezclaDosis {
  flex: 0 0 220px !important;
  width: 220px !important;
  // justify-content: center;
}


.mat-column-cveFolioSolicitudMezcla {
  flex: 0 0 260px !important;
  width: 260px !important;
  // justify-content: center;
}

.mat-column-componentes {
  // flex: 0 0 230px !important;
  min-width: 430px !important;
  // justify-content: center;
}

.mat-column-desTipoMezcla {
  flex: 0 0 230px !important;
  width: 230px !important;
  // justify-content: center;
}

.mat-column-fechaAplicacion {
  flex: 0 0 230px !important;
  width: 230px !important;
  // justify-content: center;
}