<app-header-detalle-mezcla [headerData]="headerData"></app-header-detalle-mezcla>

<div class="card-ceme">
    <div class="card card-body">
        <div class="header-table">
            <div class="lista-medicamento padding">

                <div>
                    <div class="titulo">
                        <div style="display: flex; align-items: center;">
                            <div class="ico-detalle-mezcla"></div>
                            <div style="margin-right: 10px;width: 280px;"><span class="text2">Detalle de la
                                    mezcla:</span><span style="font-weight: 500;">&nbsp;Antibiótico</span>
                            </div>
                            <div style="border-bottom: 1px solid #41ABCA; padding-top: 10px; width: 82% !important;">
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; padding-left: 10px;">
                            <div class="ico-clipboard"></div>
                            <span class="text">Lista de medicamentos</span>
                        </div>
                    </div>

                </div>

                <div class="table-responsive scroll-table">
                    <mat-table class="fullTable " [dataSource]="tableDS" matSortActive="medicamento"
                        matSortDirection="asc" matSort #sort="matSort" (matSortChange)="shortTable($event)">

                        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns ;"></mat-row>

                        <ng-container matColumnDef="desCortaMedicamento">
                            <mat-header-cell class="col-md-9" *matHeaderCellDef mat-sort-header> Medicamentos
                            </mat-header-cell>
                            <mat-cell class="col-md-9" *matCellDef="let element">
                                {{ element.desCortaMedicamento }}

                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numDosisMedicamento">
                            <mat-header-cell class="col-md-1" *matHeaderCellDef mat-sort-header> Dosis
                            </mat-header-cell>
                            <mat-cell class="col-md-1" *matCellDef="let element">
                                {{ element.numDosisMedicamento }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="refUnidadMinMedida">
                            <mat-header-cell class="col-md-2" *matHeaderCellDef mat-sort-header> Unidad de medida
                            </mat-header-cell>
                            <mat-cell class="col-md-2" *matCellDef="let element">{{ element.refUnidadMinMedida
                                }}</mat-cell>
                        </ng-container>

                    </mat-table>
                </div>

            </div>
            <div class="datos-diluyente padding margin">
                <div class="row">
                    <div class="col-12 col-md-8 mb-3 d-flex flex-column">
                        <span class="etiqueta">Diluyente</span>
                        <span class="texto">{{modelDiluyente.desCortaDiluyente}}</span>
                    </div>
                    <div class="col-6 col-md-2 mb-3 d-flex flex-column">
                        <span class="etiqueta">Dosis</span>
                        <span class="texto">{{modelDiluyente.numDosisDiluyente}}</span>
                    </div>
                    <div class="col-6 col-md-2 mb-3 d-flex flex-column">
                        <span class="etiqueta">Unidad de medida</span>
                        <span class="texto">{{modelDiluyente.refUnidadMinMedida}}</span>
                    </div>
                </div>

                <hr class="hr-azul" />

                <div class="row">
                    <div class="col-6 col-md-2 mb-3 d-flex flex-column">
                        <span class="etiqueta">Fecha de aplicación</span>
                        <span class="texto">{{modelDiluyente.fechaAplicacion}}</span>
                    </div>
                    <div class="col-6 col-md-2 mb-3 d-flex flex-column">
                        <span class="etiqueta">Cada</span>
                        <span class="texto">{{modelDiluyente.desAplicacionCada}}</span>
                    </div>
                    <div class="col-6 col-md-2 mb-3 d-flex flex-column">
                        <span class="etiqueta">Número total de dosis</span>
                        <span class="texto">{{modelDiluyente.totalDosis}}</span>
                    </div>
                    <div class="col-6 col-md-2 mb-3 d-flex flex-column">
                        <span class="etiqueta">Vía de administración</span>
                        <span class="texto">{{modelDiluyente.desViaAdministracion}}</span>
                    </div>
                    <div class="col-6 col-md-2 mb-3 d-flex flex-column">
                        <span class="etiqueta">Tiempo de infusión</span>
                        <span class="texto">{{modelDiluyente.desTiempoInfusion}}</span>
                    </div>
                    <div class="col-6 col-md-2 mb-3 d-flex flex-column">
                        <span class="etiqueta">Velocidad de infusión (ml/hrs)</span>
                        <span class="texto">{{modelDiluyente.refVelInfusion}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-aprobar-no-aprobar></app-aprobar-no-aprobar>