.titulo-dialogo {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 16px;
    background-color: #eff4f4;
    font-weight: 800;
    height: 29px;
    border-radius: 10px 10px 0 0;
    padding: 6px 25px 4px 27px;
  }
  
  .contenido-dialogo {
    .datos-header {
        background-color: #368ea8;
        color: #fff !important;
        min-height: 48px;

        padding-left: 15px;
    }

    .separador {
        background-color: #fff !important;
        width: 1px;
        height: 27px;

    }

    .datos {

        line-height: 91%;
        margin-left: 20px;
        margin-top: -33px;
    }
}

  
  
  .lblDg {
  
    color: var(--Grises-gris-tono1, #1B353A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 14.4px */
  }
  
  .lblDgDs {
    color: var(--Gobierno-Escala-de-grises-Tono7, #A9A8A9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 14.4px */
    text-transform: uppercase;
  }
  
  .padding {
    padding: 12px 27px 3px 27px;
  }
  
  .margin {
    margin: 0 27px;
  }
  
  
  .subtitulo {
  
    color: var(--Txt_title, #404041);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
  }
  
  .headerComponentes {
  
    height: 30px;
    background: #FEFCFE;
  }
  
  
  ::ng-deep .mdc-dialog .contenido-dialogo {
    padding: 0;
  }
  
  ::ng-deep .mdc-dialog__surface {
    overflow-y: initial;
  }
  
  
.bandera {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
    min-height: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    min-width: 110px;
    column-gap: 5px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
  }
  
  .bandera .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    div {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
  
  .circle.green {
    border: solid 1px #00d494;
    div {
      background-color: #00d494;
    }
  }
  
  .bandera.green {

    background: rgba(0, 212, 148, 0.15);
    color: var(--Verde-check, #00D494);

    
  }
  
  .circle.blue {
    border: solid 1px #1dd3ec;
    div {
      background-color: #1dd3ec;
    }
  }
  .bandera.blue {
    background: #E8FBFD;
    color: var(--Azul-track, #1DD3EC);
  }
  
  .circle.orange {
    border: solid 1px #ff820e;
    div {
      background-color: #ff820e;
    }
  }
  .bandera.orange {
    background-color: #FFE6CF;
    color: #FF820E;
  }
  
  .circle.red {
    border: solid 1px #ef7373;
    div {
      background-color: #ef7373;
    }
  }
  .bandera.red {
    background: rgba(239, 115, 115, 0.21);
    color: var(--Cancelar, #EF7373);
  }
  
  .datos-diluyente {
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 12px;
  
    .etiqueta {
      font-size: 12px;
  
    }
  
    .texto {
      font-size: 14px;
      font-weight: 600;
    }
  }
  
  .datos-progreso {
    background-color: #f8f8f8;
    border: none;
    border-radius: 0px;
    box-shadow: unset;
  
    .panel-header {
      margin: -13px -22px 0 -29px;
    }
  }
  
  .hr-azul {
    height: 1px;
    background-color: #8EBFCD;
  }
  
  .s-progreso {
    .etiqueta {
      font-size: 12px;
      font-weight: 500;
      color: var(--Grises-Gris-tono1, var(--Txt_title, #404041));
      font-feature-settings: 'clig' off, 'liga' off;
      /* Link/Body/M/M . Medium.12 */
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
    }
  
    .texto {
      font-size: 12px;
      font-weight: 600;
      color: var(--Gobierno-Escala-de-grises-Tono7, #A9A8A9);
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 15px;
      /* 125% */
    }
  }
  
  .progreso .radio {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    div.circle {
      width: 28px;
      height: 28px;
      border-radius: 50%;
  
      div.check {
        cursor: default;
        background-size: 14px;
        transform: translate(7px, 9px);
      }
    }
  }
  
  .radio.green {
    border: solid 1px #00d494;
  
    div.circle {
      background-color: #00d494;
    }
  }
  
  
  .radio.blue {
    border: solid 1px #1dd3ec;
  
    div.circle {
      background-color: #1dd3ec;
    }
  }
  
  .radio.orange {
    border: solid 1px #ff820e;
  
    div.circle {
      background-color: #ff820e;
    }
  }
  
  .radio.red {
    border: solid 1px #ef7373;
  
    div.circle {
      background-color: #ef7373;
    }
  }
  
  .borde.d-flex.w-100 {
    border-bottom: solid 35px #41abca;
    margin-top: -31px;
    border-radius: 0 0 10px 10px;
  }
  
  .datos-medico {
    padding-top: 13px;
    box-shadow: 0px -5px 14px 0px rgba(0, 0, 0, 0.1);
  
    .img-ico-doc {
      background-image: url('../../../../../assets/images/icon-doctor.svg');
      background-repeat: no-repeat;
      width: 90px;
      height: 90px;
    }
  
    .etiqueta {
      font-size: 12px;
      color: #1daac8;
      font-weight: 600;
    }
  
    .texto {
      font-size: 20px;
      color: #000;
      font-weight: 400;
      text-transform: uppercase;
    }
  
  }
  
  
  ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px;
  }
  
  
  ::ng-deep .mat-mdc-tab-labels .mdc-tab.mat-mdc-tab.mdc-tab-indicator--active {
    background-color: #40a8c6;
    border-radius: 10px 10px 0px 0px;
    background: var(--turquesa-primario, #41ABCA);
  }
  
  ::ng-deep .mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-header-pagination {
    display: flex;
    border-right: 1.5px solid var(--Lineas, #D8D8D8) !important;
    background: #E6F1F7 !important;
  }
  
  ::ng-deep .mat-mdc-tab-header-pagination-chevron {
    border-color: var(--turquesa-primario, #41ABCA) !important;
  }
  
  
  .mat-tab-group {
    margin-bottom: 48px;
  }
  
  .mat-mdc-tab-group {
    display: inline-block;
    flex-direction: column;
    max-width: 100%;
  }
  
  ::ng-deep .mat-mdc-tab-body-content {
    height: 100%;
    overflow: auto;
    margin-top: -16px;
  }
  
  .mdc-tab__content {
    color: var(--Text-Titulos, #626262);
  
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #41ABCA;
  }
  
  
  ::ng-deep .mat-mdc-tab:not(.mdc-tab--stacked) {
    height: 38px;
    margin: 0px;
    padding: 2px;
  }
  
  .icon-close{
    background-image: url("../../../../../assets/icons/close.svg");
    background-repeat: no-repeat;
    size: 16px;
    width: 16px;
    height: 16px;
  
    margin-left: 8px;
  }

  
  .estatus {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px; /* 125% */
}

  .estatus.blue {
    color: #1dd3ec;
}

.estatus.orange {
    color: #FF820E;
}

.estatus.red {
    color: #ef7373;
}