<div class="card-ceme">
  <div class="card card-body">
    <mat-panel-title class="align-header">
      <div class="solicitud"></div>
      <div class="text-teatle">Solicitudes de prescripción</div>
      <div class="line-panel-header w-100"></div>
    </mat-panel-title>
    <form [formGroup]="form" class="mb-3">

      <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
      <!--<div>{{modelTipoMezcla | json}}  form valido : {{formTipoMezcla}} fiel : {{fieldsTipoMezcla}}</div> -->
    </form>


    <br>
    <div class="header-table">
      <div class="titulo-tabla d-flex align-items-center">
        <div class="ico-clipboard"></div>
        <span class="text">Listado de solicitudes</span>
      </div>
      <div class="accion">
              <button type="button"  [disabled]="solAprobada"  class="btn btn-outline-basic btn-ico" (click)="downloadPDF()"><i
            class="bi report"></i> Reporte de medicamentos</button>
      </div>
    </div>


    <div class="table-responsive scroll-table">
      <mat-table class="fullTable " [dataSource]="tableDS" matSortActive="folioMezcla" matSortDirection="asc" matSort
        #sort="matSort" (matSortChange)="shortTable($event)">

        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns ;"></mat-row>



        <ng-container matColumnDef="cveFolioMezclaDosis">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Folio de la mezcla </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--<a *ngIf="element.idTipoMezcla==3" routerLink="/detalle-mezcla" [queryParams]="{idMezclaAplicDiaDosis: element.idMezclaAplicDiaDosis, idMezcla:element.idMezcla,idTipoMezcla:element.idTipoMezcla,cveFolioMezclaDosis:element.cveFolioMezclaDosis}">{{ element.cveFolioMezclaDosis }}</a>
                  <a *ngIf="element.idTipoMezcla==2" routerLink="/detalle-mezcla-ntp" [queryParams]="{idMezclaAplicDiaDosis: element.idMezclaAplicDiaDosis, idMezcla:element.idMezcla,idTipoMezcla:element.idTipoMezcla,cveFolioMezclaDosis:element.cveFolioMezclaDosis}">{{ element.cveFolioMezclaDosis }}</a>
                  <a *ngIf="element.idTipoMezcla==1" routerLink="/detalle-mezcla" [queryParams]="{idMezclaAplicDiaDosis: element.idMezclaAplicDiaDosis, idMezcla:element.idMezcla,idTipoMezcla:element.idTipoMezcla,cveFolioMezclaDosis:element.cveFolioMezclaDosis}">{{ element.cveFolioMezclaDosis }}</a>-->
            <a *ngIf="element.idEstatusMezcla != 3" class="estiloUrl" (click)="redirecciona(element)">{{
              element.cveFolioMezclaDosis }}</a>
            <span *ngIf="element.idEstatusMezcla == 3">{{ element.cveFolioMezclaDosis }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cveFolioSolicitudMezcla">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Folio de la solicitud </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.cveFolioSolicitudMezcla }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="desTipoMezcla">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de mezcla </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.desTipoMezcla }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="desEstatusMezcla">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.desEstatusMezcla }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaAplicacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de aplicación </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.fechaAplicacion }}</mat-cell>
        </ng-container>

        <!--
              <ng-container matColumnDef="check">
                <mat-header-cell *matHeaderCellDef class="d-flex justify-content-center">
                    <mat-checkbox   (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="d-flex justify-content-center">
                    <mat-checkbox  (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>-->



      </mat-table>

    </div><!--
          <div class="d-flex justify-content-end w-100 align-items-center mb-3">
            <button type="button" class="btn btn-primary">Asigna campana</button>
          </div>-->

    <div class=" paginador d-flex justify-content-start w-100 align-items-center">
      <div class="textResult">Resultados <span class="textNegritas">{{totalElements == null ? 0 : totalElements}}</span>
      </div>
      <div class=" d-flex justify-content-end w-100 align-items-center">
        <ngb-pagination class="me-5" [(page)]="paginaActual" [collectionSize]="totalElements"
          (pageChange)="pageChanged($event)" [maxSize]="ConfigTabla.NUM_ELEMENTOS_PAGINADOR" [rotate]="true"
          [ellipses]="true" [boundaryLinks]="false" [pageSize]="ConfigTabla.NUM_ELEMENTOS_TABLA">

          <ng-template ngbPaginationPrevious>&lt;</ng-template>
          <ng-template ngbPaginationNext>&gt;</ng-template>

        </ngb-pagination>
        <span>Página </span><span class="num-pagina">{{paginaActual}}</span>
      </div>
    </div>



  </div>

</div>