<!-- Formulario editable con Formly -->
<form [formGroup]="form" class="mb-3" *ngIf="blnCamposBloqueados && model != undefined">
  <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
</form>

<!-- Visualización en modo lectura -->
<div class="datosSV container-fluid" *ngIf="blnModoLectura">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3 d-flex flex-column" *ngFor="let dato of [
      { label: 'Tensión arterial sistólica', value: model.numPacTenArtSistolica },
      { label: 'Tensión arterial diastólica', value: model.numPacTenArtDiastolica },
      { label: 'Frecuencia cardiaca', value: model.numPacFrecCardiaca },
      { label: 'Frecuencia respiratoria', value: model.numPacFrecRespiratoria },
      { label: 'Temperatura', value: model.numPacTemperatura }
    ]">
      <div class="d-flex flex-column">
        <span class="etiqueta">{{dato.label}}</span>
        <span class="texto">{{dato.value}}</span>
      </div>
    </div>
  </div>

  <!-- Observaciones -->
  <div class="row mt-2">
    <div class="col-12 d-flex flex-column">
      <span class="etiqueta">Observaciones</span>
      <span class="texto">{{model.refPacObs}}</span>
    </div>
  </div>
</div>
