.card.card-body.header {
  padding: 0;
}

.header-data {
  .data-no-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-height: 75px;

    background-image: url('../../../../../assets/images/decoracion.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    .seccion {
      padding: 1rem;

      .titulo {
        font-size: 16px;
        color: #BC955C;
        font-weight: bolder;
      }

      .texto {
        font-size: 16px;
        color: #222222;
        font-weight: bolder;

      }
    }
  }
}

.text-title {
  font-size: 18px;
  font-weight: 600;
}

.text-title-com {
  font-size: 18px;
  font-weight: 400;

}

.data-detalle {
  .titulo {
    font-size: 12px;
    font-weight: 500;
  }

  .texto {
    font-size: 14px;
    font-weight: 500;

  }
}

.text-title-l-m {
  font-size: 16px;
  font-weight: 600;
}

.agregados {
  // margin-top: -14px;
  font-size: 14px;
  margin-left: 300px;
}

.table-medicamento {
  width: 100%;
  max-height: 500px;
  overflow: auto;

  .mat-mdc-table{
    border-bottom: solid 0px rgba(0, 0, 0, 0.12) !important;
  }

  mat-header-row[role=row]{
    display: none;
  }
  mat-row[role=row] {
    border: solid 1px #EEE;
    min-height: 40px!important;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 7px;
    mat-cell[role=cell]:first-child{
      border-radius: 5px 0 0 5px;
    }
    mat-cell[role=cell]:last-child{
      border-radius: 0 5px 5px 0;
    }
  }
}

.lightSelect{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  mat-cell[role=cell]:last-child{
    border-right: solid 8px #41ABCA;
  }
}

.lightSelectAsig{
  mat-cell[role=cell]:last-child{
    border-right: solid 8px #00D494;
;
  }
}

.card-detalle-med{
  box-shadow: 0px 12px 14px 0px #0000000F;
border-radius: 6PX;
}

hr.hr.blue{
  border: 1px solid #8EBFCD
}

::ng-deep .btn-outline-basic{
  color: #018699!important;

 
}


::ng-deep .btn-outline-basic:disabled{
  color:#80c3cc!important;
}




@media (min-width: 991.98px) { 
  

//tabla diluyente
.mat-column-no{
  flex: 0 0 85px !important;
  width: 85px !important;
}

.mat-column-estatus{
  flex: 0 0 155px  !important;
  width: 155px  !important;
}

.mat-column-estatus1{
  flex: 0 0 155px  !important;
  width: 155px  !important;
}


.mat-column-base,
.mat-column-desCorta{
  flex: 0 0 590px !important;
  width: 205px !important;
}



.mat-column-desCorta1{
  flex: 0 0 240px !important;
  width: 205px !important;
}

.mat-column-componente{
  flex: 0 0 225px !important;
  width: 205px !important;
}
}

// .mat-column-dosis1{
//   flex: 0 0 94px !important;
//   width: 94px !important;
// }

// .mat-column-dosis{
//   flex: 0 0 94px !important;
//   width: 94px !important;
// }

// .mat-column-volumen1{
//   flex: 0 0 125px !important;
//   width: 125px !important;
// }

// .mat-column-volumen{
//   flex: 0 0 125px !important;
//   width: 125px !important;
// }

// .mat-column-viales1{
//   flex: 0 0 105px !important;
//   width: 105px !important;
// }

// .mat-column-viales{
//   flex: 0 0 105px !important;
//   width: 105px !important;
// }

// .mat-column-ml{
//   flex: 0 0 120px !important;
//   width: 120px !important;
// }

// .mat-column-solucion{
//   flex: 0 0 125px !important;
//   width: 125px !important;
// }

// .mat-column-estatus1{
//   flex: 0 0 155px !important;
//   width: 125px !important;
// }