<app-header-detalle-mezcla [headerData]="headerData" ></app-header-detalle-mezcla>

<div class="card-ceme">
    <div class="card card-body">
        <div class="header-table">
            <div class="titulo d-flex align-items-center">
                <div class="ico-clipboard"></div>
                <span class="text">Listado de medicamentos</span>
            </div>

            <div class="table-responsive scroll-table">
                <mat-table class="fullTable " [dataSource]="tableDS" matSortActive="medicamento" matSortDirection="asc"
                    matSort #sort="matSort" (matSortChange)="shortTable($event)">

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns ;"></mat-row>

                    <ng-container matColumnDef="medicamento">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Medicamentos </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.desCortaMedicamento }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="dosis">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Dosis </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.numDosisMedicamento }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="unidadMedida">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Unidad de medida </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.refUnidadMinMedida }}</mat-cell>
                    </ng-container>

                </mat-table>

            </div>
            <!-- mezcla citotoxio-->
            <div *ngIf="citotoxico==true" class="table-responsive scroll-table">
                <mat-table class="fullTable " [dataSource]="tableDS1" matSortActive="medicamento" matSortDirection="asc"
                    matSort #sort="matSort" (matSortChange)="shortTable1($event)">

                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns ;"></mat-row>

                    <ng-container matColumnDef="medicamento">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Diluyentes </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.desCortaDiluyente }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="dosis">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Dosis </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.numDosisDiluyente }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="unidadMedida">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Unidad de medida </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.refUnidadMinMedida }}</mat-cell>
                    </ng-container>

                </mat-table>

            </div>

            <div>
                <!-- <h6>Diluyente</h6> -->
                <form [formGroup]="form">
                    <ng-container *ngIf="citotoxico==false">
                        <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
                        <div class="line-panel-header w-80"></div><br>
                        <formly-form [model]="modelAbajoNtp4" [fields]="fieldsAbajoNtp4" [form]="formAbajoNtp4"></formly-form>
                    </ng-container>
                    <ng-container *ngIf="citotoxico==true">
                        <formly-form [model]="modelAbajoNtp3" [fields]="fieldsAbajoNtp3" [form]="formAbajoNtp3"></formly-form>                   
                    </ng-container>
                     <!--<div>{{modelTipoMezcla | json}}  form valido : {{formTipoMezcla}} fiel : {{fieldsTipoMezcla}}</div> -->
                </form>
            </div>

        </div>
    </div>
</div>

<div class="card-ceme" *ngIf="this.obsRatificacion"> 
    <div class="card card-body">
        <div class="header-table">  
            <div class="titulo-obs d-flex align-items-center">
                <span class="text">Observaciones de ratificación</span>
            </div>
            <div class="content-obs">
                {{this.obsRatificacion}}
            </div>
        </div>
    </div> 
</div>

<div class="botones">
    <div class="d-flex justify-content-end w-100 align-items-center mt-3 mb-3 gap-3" *ngIf="!(this.role == 8)">
        <button type="button" [disabled]="isRatificada" class="btn btn-danger" (click)="dialogoRechazar();">No aprobada</button>
        <button type="button" class="btn btn-primary" (click)="aprobarMezcla();">Aprobar mezcla</button>
      </div>
</div>