
.alert {
  top: 122px;
  left: 15%;
  min-height: 60px !important;
  position: fixed;
  z-index: 9999;
  padding: 15px;
  margin: 0px;
  width: 70%;
  font-size: 14px !important;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
  
  .btn-close{
    position: absolute;
    top: 19px;
    right: 10px;
  }

  .content-icon{
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 15%;
  }