<div class="card-ceme">
  <div class="card card-body">
            <mat-panel-title class="align-header">
                <div class="ico-analista-calidad"></div>
                <div class="text-teatle">Buzón de mezclas no aprobadas</div>
                <div class="line-panel-header w-100"></div>
            </mat-panel-title>

        <form [formGroup]="form">

            <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
           
        </form>
        <br>
        <!--<div>{{model | json}}  form valido : {{form}}</div>-->
        <div class="titulo">Resultados de búsqueda</div>

        <br>
        <div class="header-table" >
            <div class="titulo-tabla d-flex align-items-center">
                <div class="ico-clipboard"></div>
                <span class="text">Listado de mezclas</span>
            </div>
            <div class="accion">
                <!--<button type="button" class="btn btn-outline-basic btn-ico"><i class="bi report"></i> Generar reporte de aprobadas</button>-->
            </div>
        </div>


        <div class="table-responsive scroll-table">
            <mat-table class="fullTable " [dataSource]="tableDS" matSortActive="folioMezcla" matSortDirection="asc" matSort (matSortChange)="onSortData($event)"
              #sort="matSort">
        
              <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns ;"></mat-row>
        

         
              <ng-container matColumnDef="cveFolioMezclaDosis">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Folio de la mezcla </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <a class="estiloUrl" (click)="redirecciona(element)">{{ element.cveFolioMezclaDosis }}</a>
                </mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="cveFolioSolicitudMezcla">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Folio de la solicitud </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{ element.cveFolioSolicitudMezcla }}</mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="desTipoMezcla">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Tipo de mezcla </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{ element.desTipoMezcla }}</mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="desMotivoRechazo">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Motivo de rechazo </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{ element.desMotivoRechazo }}</mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="fechaRechazo">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Fecha de rechazo </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{ element.fechaRechazo }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="responsableRechazo">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Responsable de rechazo </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{ element.responsableRechazo }}</mat-cell>
              </ng-container>
            </mat-table>
        
          </div>
          
          <div class=" paginador d-flex justify-content-end w-100 align-items-center">
            <div class="textResult">Resultados <span class="textNegritas">{{totalElements == null ? 0 : totalElements}}</span></div>
            <div class=" d-flex justify-content-end w-100 align-items-center">
                <ngb-pagination class="me-5" [(page)]="paginaActual" [collectionSize]="totalElements" (pageChange)="pageChanged($event)" [maxSize]="ConfigTabla.NUM_ELEMENTOS_PAGINADOR" [rotate]="true"
              [ellipses]="true" [boundaryLinks]="false" [pageSize]="ConfigTabla.NUM_ELEMENTOS_TABLA" >
            
              <ng-template ngbPaginationPrevious>&lt;</ng-template>
	          <ng-template ngbPaginationNext>&gt;</ng-template>          

            </ngb-pagination>
              <span>Página </span><span class="num-pagina">{{paginaActual}}</span>
            </div>
          </div>
        </div>
</div>