
<div class="d-flex titulo w-100">
    <div class="iconMedRejoMedic"></div>
    {{nombreMedicamento}}
    <br>
</div>
<svg xmlns="http://www.w3.org/2000/svg" width="865" height="2" viewBox="0 0 865 2" fill="none">
    <path d="M0 1H865" stroke="#D8D8D8"/>
    </svg>
<form [formGroup]="formReceta">

    <formly-form [model]="modelReceta" [fields]="fieldsReceta" [form]="formReceta"></formly-form>

    <div class="table-responsive scroll-table">
        <div class="d-flex titulo-tabla titulo1" style="width: 30%;">
            <div class="lista-med"></div>
            Lotes de medicamento
            <br>
        </div>
        <mat-table class="fullTable" [dataSource]="antibioticosDataSource" matSortActive="medicamento"
            matSortDirection="asc" matSort (matSortChange)="shortTable($event)">

            <mat-header-row *matHeaderRowDef="antibioticosDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: antibioticosDisplayedColumns;"> </mat-row>

            <ng-container matColumnDef="lote">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    class="columna-300"><strong>Lote</strong>
                </mat-header-cell>
                <mat-cell
                    *matCellDef="let element">{{element.lote}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fechas">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    class="columna-300"><strong>Fecha(s) de caducidad</strong> </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fabricante}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="piezas">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="columna-200"><strong>Piezas</strong> </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.envase}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="eliminar">
                <mat-header-cell *matHeaderCellDef><strong>Eliminar</strong> </mat-header-cell>
                <mat-cell *matCellDef="let element" class=" alinearIcono">
                    <button [disabled]="indGuardadoCompleto" class="btn">     <span><img src="../../../../../assets/images/rechazar.svg" class="image-secundario"
                            alt="Rechazar" title="rechazar" (click)="eliminarLote(element)" ></span></button>


                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="totalEvases">
                <td mat-footer-cell *matFooterCellDef colspan="1">
                    <br>
                    Total de envases: &nbsp;<strong>{{totalEvases}} </strong>
                </td>

            </ng-container>
            <br>
            <tr mat-footer-row *matFooterRowDef="['totalEvases']"></tr>

        </mat-table>
    </div>
</form>

<div class="line-panel-header w-80"></div><br>



<div class="contenido">

    <div class="botones w-100 d-flex justify-content: space-between;">
        <div>
            <span>
            </span>
        </div>
        <div class="botones">
            <div class="botones">
                <button  type="button" class="btn btn-primary" style="margin-right: 20px;" >
                    Actualizar información</button>
            </div>
        </div>
    </div>

</div>