<!-- Formulario editable -->
<form [formGroup]="formAplicacion" class="mb-3 container-fluid" *ngIf="blnCamposBloqueados">
  <formly-form [model]="miModelo" [fields]="fieldsAplicacion" [form]="formAplicacion"></formly-form>
</form>

<!-- Estatus: No aplicada antes del inicio -->
<div class="datosSV container-fluid" *ngIf="blnLectura && blnNoAplicada && model && !miModelo.stpAplicacInicio">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">Estatus</span>
      <span class="texto" *ngIf="miModelo.desEstatusMezcla !== 'No aplicada'">{{ miModelo.desEstatusMezcla }}</span>
      <span class="texto rojo" *ngIf="miModelo.desEstatusMezcla === 'No aplicada'">{{ miModelo.desEstatusMezcla }}</span>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">Motivo de no aplicación</span>
      <span class="texto">{{ miModelo.desMotivoNoAdminMezcla || '' }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-2 d-flex flex-column">
      <span class="etiqueta">Observaciones</span>
      <span class="texto">{{ miModelo.refNoAdminObs || '' }}</span>
    </div>
  </div>
</div>

<!-- Estatus: No aplicada después del inicio -->
<div class="datosSV container-fluid" *ngIf="blnLectura && blnNoAplicada && model && miModelo.stpAplicacInicio">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">Fecha y hora de inicio</span>
      <span class="texto">{{ miModelo.stpAplicacInicio || '' }}</span>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">Turno de inicio</span>
      <span class="texto azul" *ngIf="miModelo.idTurnoInicio == 1">Matutino</span>
      <span class="texto verde" *ngIf="miModelo.idTurnoInicio == 2">Vespertino</span>
      <span class="texto rojo" *ngIf="miModelo.idTurnoInicio == 3">Nocturno</span>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">Estatus</span>
      <span class="texto" *ngIf="miModelo.desEstatusMezcla !== 'No aplicada'">{{ miModelo.desEstatusMezcla }}</span>
      <span class="texto rojo" *ngIf="miModelo.desEstatusMezcla === 'No aplicada'">{{ miModelo.desEstatusMezcla }}</span>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">¿Reacción adversa?</span>
      <span class="texto" *ngIf="miModelo.idAplicacReaccAdversa == 1">Sí</span>
      <span class="texto" *ngIf="miModelo.idAplicacReaccAdversa == 2">No</span>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex flex-column">
      <span class="etiqueta">Reacciones adversas</span>
      <span class="texto">{{ miModelo.desReaccionAdversa || '' }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex flex-column">
      <span class="etiqueta">Observaciones</span>
      <span class="texto">{{ miModelo.refAplicacReaccionObs || '' }}</span>
    </div>
  </div>
</div>

<!-- Estatus: Aplicada -->
<div class="datosSV container-fluid" *ngIf="blnLectura && blnAplicada && miModelo" style="margin-top: 10px;">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">Fecha y hora de inicio</span>
      <span class="texto">{{ miModelo.stpAplicacInicio || '' }}</span>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">Turno que inició</span>
      <span class="texto azul" *ngIf="miModelo.idTurnoInicio == 1">Matutino</span>
      <span class="texto verde" *ngIf="miModelo.idTurnoInicio == 2">Vespertino</span>
      <span class="texto rojo" *ngIf="miModelo.idTurnoInicio == 3">Nocturno</span>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">Fecha y hora de término</span>
      <span class="texto">{{ miModelo.stpAplicacTermino || '' }}</span>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3 d-flex flex-column">
      <span class="etiqueta">Turno que terminó</span>
      <span class="texto azul" *ngIf="miModelo.idTurnoTermino == 1">Matutino</span>
      <span class="texto verde" *ngIf="miModelo.idTurnoTermino == 2">Vespertino</span>
      <span class="texto rojo" *ngIf="miModelo.idTurnoTermino == 3">Nocturno</span>
    </div>
  </div>
</div>
