<div mat-dialog-title class="d-h bar-n ">
    <span class="bar-h" ></span>
    <span class="titulo d-flex w-100 ">
        {{ data.title }}
        <span class="btn-cerrar" (click)="closeDialog()"><img src="assets/images/close.svg" alt="cancel"></span>
    </span>
</div>
<mat-dialog-content class="dialog-content" >

    <span [innerHTML]="data.message"></span>

</mat-dialog-content>

<mat-dialog-actions class="justify-content-end">    
    <button type="button" class="btn btn-primary" (click)="confirmDialog()" *ngIf="data.confirmTxtBtn">{{data.confirmTxtBtn}}</button>
</mat-dialog-actions>